{# TP3/template/pages/home.html.twig #}

{% extends 'base.html.twig' %}




{% block body %}
<div class="jumbotron text-center">

	<h1> Les destinations </h1>



<p>Nous présentons dans cette page nos destinations  </p>


</div>

<!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Destination</h3>
                        <p>Suffered alteration in some form, let us take you somewhere wonderful </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/1.png" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Italy  </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/2.png" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Brazil   </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/3.png" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">America  </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/4.png" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Nepal  </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/5.png" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Maldives  </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/6.png" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Indonesia   </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_destination_area_end  -->





    {% block content %}{% endblock %}



{% endblock %}