{# TP3/template/pages/home.html.twig #}

{% extends 'base.html.twig' %}




{% block body %}
<div class="container">




</div>


<div class="jumbotron text-center">

	<h1> Agence Tour DSI22 </h1>


<p>Bienvenue sur notre site de votre agence ToursDSI22. Forte de son ambition de vous satisfaire, notre agence vous offre des circuits de rêve dans les quatre coins du monde
</p>
</div>
    {% block content %}{% endblock %}



{% endblock %}